# Dependencies
node_modules/
npm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Runtime data
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Archivos de desarrollo
*.code-workspace
.vscode/
.idea/